@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";


.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}